@use 'styles/bootstrap';
@use 'helpers' as *;



html {
    scroll-behavior: smooth;
}

.page {
    min-height: 100vh;
    position: relative;
}


header {
    color: $main-color;
    background-color: $main-bg;
    background-image: url(./pictures/cover.jpg);
    background-size: cover;
    background-position: center center;


    .title {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include font-family('Fraunces', 134px, 165px);
        text-align: center;
        width: 100vw;
        overflow-wrap: break-word;

    }

    .scroll-down {
        position: absolute;
        bottom: 2vh;
        left: 50vw;

        transform: translateX(-50%);
        text-align: center;
        text-transform: uppercase;

        @include font-family('Barlow', 20px, 24px);
        color: var(--bs-body-color);
        text-decoration: none;


        div {
            margin-bottom: 2vh;
        }

        img {
            filter: invert(80%);
        }
    }

    .ico {
        border-radius: 50%;
        background-color: $main-color;
        color: $main-bg;
        @include sizer(36px);


        &:hover {
            border: 3px solid $second-bg;
        }
    }

    @include md-down {

        .collapse {
            width: 100vw;
            height: 100vh;

            transform: translateX(-100vw);

            transition-property: transform;

            transition-duration: .75s;

            transition-timing-function: ease-in-out;
        }

        .collapse.show,
        .collapse.collapsing {


            position: fixed;
            z-index: 200;
            background-color: $second-bg;

            top: 0;
            left: 0;

            display: flex;
            justify-content: center;


            transform: translateX(0);


            a {
                color: $second-color;
                @include font-family('Barlow', 50px, 60px);
            }
        }




    }

    @include md {
        .nav-link:not(.ico) {

            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 5px;
                left: 50%;
                right: 50%;
                background-color: $second-bg;
                transition-property: left, right;
                transition-duration: .5s;
                transition-timing-function: ease-in-out;
                bottom: -1rem;
            }

            &:hover::after {
                left: 0;
                right: 0;
            }

        }
    }
}

footer {
    background-color: $main-color;
    color: $main-bg;
}




.agency {
    color: $second-color;
    background-image: url(./pictures/logo-w.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 212px;
    @include font-family('Fraunces', 31px, 38px);
    text-transform: uppercase;
}

.menu-item {
    width: 240px;

    .mi-title {
        @include font-family('Fraunces', 18px, 22.19px, 700);
    }
}

#menu {
    background-color: $second-bg;
    color: $second-color;

    @include md {
        background-image: url(./pictures/bg-we-are.svg);
        background-repeat: no-repeat;
        background-position: -64px 64px;
    }
}


#we-are {
    @include font-family('Barlow', 14px, 25px);

    .article {



        .picture img {
            object-fit: cover;
            object-position: center center;
            height: 450px;
            width: 100%;
        }

        .dates {

            strong {
                @include font-family('Barlow', 14px, 25.41px, 700, italic);
            }

        }


        @include md {
            background-color: #f3f3f3;

            &:nth-child(odd) {
                color: $main-bg;
                background-color: $main-color;
                flex-direction: row-reverse !important;
            }

            .picture img {

                width: 100%;

                height: 100%;

            }


        }



    }
}



.blog-title {
    color: $main-color;
    background-image: url(./pictures/B.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 212px;

    @include font-family('Fraunces', 31px, 38.22px);
    text-transform: uppercase;
}

#blog {
    h3 {
        @include font-family('Barlow', 29px, 34.8px, 600);

    }

    .blog-component {

        max-width: 350px;
        cursor: pointer;

        .picture {
            height: 303px;

            overflow: hidden;
            border-radius: 0 89px 0 89px;
            border: 6px solid transparent;

            img {
                object-fit: cover;
                object-position: center;
            }
        }

        h4 {
            @include font-family('Fraunces', 20px, 25px);
            color: $second-bg;
        }

        p {
            @include font-family('Barlow', 14px, 25px);
        }


        &:hover {
            .picture {
                border-color: $second-bg;
            }
        }
    }

}


.map-container {
    height: 500px;
}