//@use 'styles/bootstrap';
@use 'helpers' as *;



html
{
    scroll-behavior: smooth;
}

.page
{
    min-height: 100vh;
    position: relative;
}


header
{
    color: $main-color;
    background-color: $main-bg;
    background-image: url(./pictures/cover.jpg);
    background-size: cover;
    background-position: center center;


    .title
    {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include font-family('Fraunces', 134px, 165px);
        text-align: center;
        width: 100vw;
        overflow-wrap: break-word;

    }


    .nav-link
    {
        @include font-family('Barlow', 18px, 21.6px, 700);
        color: $main-color;
    }

    .scroll-down
    {
        position: absolute;
        bottom: 2vh;
        left: 50vw;

        transform: translateX(-50%);
        text-align: center;
        text-transform: uppercase;

        @include font-family('Barlow', 20px, 24px);
        color: $main-color;
        text-decoration: none;


        div
        {
            margin-bottom: 2vh;
        }

        img
        {
            filter: invert(80%);
        }
    }

    .ico
    {
        border-radius: 50%;
        background-color: $main-color;
        color: $main-bg;
        @include sizer(36px);


        &:hover
        {
            border: 3px solid $second-bg;
        }
    }

    @include lg-down
    {

        .navbar-collapse
        {
            position: fixed;
            z-index: 2;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: -100vw;
            transition-property: left;
            transition-duration: .5s;
            transition-timing-function: ease-in-out;

            background-color: $second-bg;
            display: flex;
            justify-content: center;


            .nav-link
            {
                color: $second-color !important;
                @include font-family('Barlow', 50px, 60px);

                &:hover
                {
                    font-weight: 600;

                }
            }


            &.show
            {
                left: 0;
            }


        }

        .hamburger
        {

            width: 40px;
            position: absolute;
            height: 3px;
            background-color: $main-color;
            right: 0;

            transition: transform .5s ease-in-out, background-color .5s ease-in-out;

            &::before,
            &::after
            {
                position: absolute;
                content: '';
                height: 3px;
                width: 40px;
                top: -.75rem;
                background-color: $main-color;
                right: 0;

                transition: transform .5s ease-in-out, background-color .5s ease-in-out;
            }

            &::after
            {
                top: .75rem;

                transition: width .25s ease-in-out;
            }
        }

        .navbar-toggler
        {

            box-shadow: none !important;
            border: 0 !important;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            z-index: 3;
            height: 40px;
            position: absolute;
            width: 40px;

            &[aria-expanded="true"]
            {


                .hamburger
                {

                    transition: transform .5s ease-in-out, background-color .5s .75s ease-in-out;
                    background-color: $main-bg;
                    transform: rotate(45deg);

                    &::after
                    {
                        width: 0;
                    }

                    &::before
                    {
                        transform: translateY(.75rem) rotate(90deg);
                        background-color: $main-bg;
                        transition: transform .5s ease-in-out, background-color .5s .75s ease-in-out;
                    }




                }
            }
        }




    }

    @include lg
    {
        .nav-link:not(.ico)
        {

            position: relative;

            &::after
            {
                content: '';
                position: absolute;
                height: 5px;
                left: 50%;
                right: 50%;
                background-color: $second-bg;
                transition-property: left, right;
                transition-duration: .25s;
                transition-timing-function: ease-in-out;
                bottom: -.75rem;
            }

            &:hover::after
            {
                left: 0;
                right: 0;
            }

        }
    }
}

footer
{
    background-color: $main-color;
    color: $main-bg;
}




.agency
{
    color: $second-color;
    background-image: url(./pictures/logo-w.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 212px;
    @include font-family('Fraunces', 31px, 38px);
    text-transform: uppercase;
}

.menu-item
{
    width: 240px;

    .mi-title
    {
        @include font-family('Fraunces', 18px, 22.19px, 700);
    }
}

#menu
{
    background-color: $second-bg;
    color: $second-color;

    @include lg
    {
        background-image: url(./pictures/bg-we-are.svg);
        background-repeat: no-repeat;
        background-position: -64px 64px;
    }
}


#we-are
{
    @include font-family('Barlow', 14px, 25px);

    .article
    {



        .picture img
        {
            object-fit: cover;
            object-position: center center;
            height: 450px;
            width: 100%;
        }

        .dates
        {

            strong
            {
                @include font-family('Barlow', 14px, 25.41px, 700, italic);
            }

        }

        h2
        {
            @include font-family('Fraunces', 18px, 22.19px, 700);

        }


        @include lg
        {
            background-color: #f3f3f3;

            &:nth-child(odd)
            {
                color: $main-bg;
                background-color: $main-color;
                flex-direction: row-reverse !important;
            }

            .picture img
            {

                width: 100%;

                height: 100%;

            }


        }



    }
}



.blog-title
{
    color: $main-color;
    background-image: url(./pictures/B.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 212px;

    @include font-family('Fraunces', 31px, 38.22px);
    text-transform: uppercase;
}

#blog
{
    h3
    {
        @include font-family('Barlow', 29px, 34.8px, 600);

    }

    .blog-component
    {

        max-width: 350px;
        cursor: pointer;

        .picture
        {
            height: 303px;

            overflow: hidden;
            border-radius: 0 89px 0 89px;
            border: 6px solid transparent;

            img
            {
                object-fit: cover;
                object-position: center;
            }
        }

        h4
        {
            @include font-family('Fraunces', 20px, 25px);
            color: $second-bg;
        }

        p
        {
            @include font-family('Barlow', 14px, 25px);
        }


        &:hover
        {
            .picture
            {
                border-color: $second-bg;
            }
        }
    }

}


.map-container
{
    height: 500px;
}